main.historial {
    max-width: 700px;
    margin: 2rem auto;
    background-color: #fffdf8;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .llista-historial h2 {
    margin-bottom: 1.5rem;
    color: #f26522;
  }
  
  #comandes {
    list-style: none;
    padding: 0;
  }
  
  #comandes li {
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 1rem;
    border-left: 5px solid #ffd166;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
  }
  
  #comandes li strong {
    margin-bottom: 0.5rem;
    color: #333;
  }