/* You can add global styles to this file, and also import other style files */
:root {
    --dark-blue: #003366;
    --white: #ffffff;
    --light-gray: #f2f2f2;
    --black: #000000;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}